body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.hero{
    height: 50%;
    width: 100%;
    display: flex;
    background-color: #000000;
    background-size: cover;
    background-position: center;
}
header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the header is on top of the image */
    text-align: center;
    color: white; /* Set the color of the header text */
}