@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Love+Ya+Like+A+Sister&family=Rock+Salt&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

body {
   
    background-image: url("Menu.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
   
  }
 
header {
    font-family: Arial, sans-serif;
      background-color:transparent;
}
header h1 { 
  font-family: 'Rock Salt', cursive;
  font-weight: 600;
  font-size: 45px;
  padding-left: 50px;
  color: #fff;
  text-shadow: -9px -11px 13px black
}
.League{
display: flex;
flex-direction: column;
padding-left: 30px;
margin-right: 50px;
margin-left: 100px;
padding: 20px;
float: left;
width: 35%;
height: 100%;
justify-items: center;
align-items: center;
background-color: #00000091;

}
.League p{
  margin: 10px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif; 
}

button {
    margin: 1em;
    padding: 0.5em 1em;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}


.container{
   
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
    color: #fff;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 40%;
    max-height: 50%;
}
.container h3{
    font-size: 100px;
    text-shadow: 0px -12px 10px black
    
   
}
.container h2{
  /* font-size: 3px; */
  text-shadow: 1px -14px 6px black;
}
.results{
    text-align: center;
    padding: 1em;
    background-color: transparent; 
}

.container img{
  border-radius: 50px;
  width: 30%;
  margin: 10px;
  filter: drop-shadow(-6px 9px 26px white);
  
}

.justice-hover {
    font-family: 'Rock Salt';
    width: 400px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 80px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-shadow: -6px 0px 19px black;
  }
  
  .justice-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .justice-hover:focus {
    outline: none;
  }
  
  .justice-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #e97400,
      #f70c0c,
      #fee404,
      #ff6301
    );
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
  }

.historybutton {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history {
  /* Keep the history section fixed at the bottom left */
  /* bottom: 10px;
  left: 10px; */
  background-color: rgba(255, 255, 255, 0.25);
  /* Semi-transparent white background */
  /* padding: 10px; */
  border-radius: 10px;
  width: 488px;
  /* Adjust as needed */
  max-height: 200px;
  /* Reduced max-height */
  overflow-y: auto;
  /* Allows scrolling if content is too long */
  font-family: 'Rock Salt', cursive;
  color: black;
  z-index: 1000;
  /* Ensures it stays on top of other elements */
}

.history h3 {
  /* font-size: 20px; */
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url('Menu-mobile.jpg');
      background-size:cover;
      background-repeat: no-repeat;
    }
    header {
      display: flex;
      padding-top: 100px;
      align-items: center;
      flex-direction: column;
    }
    header h1 { 
      font-size: 40px;
      color: #fff
      
    }
    .League{
      width: 50%;
      background: none;
      /* display: none; */
    }
    .hide{
      display: none;
  
      }
    .League p{
      font-size: 20px;
      /* display: none; */
    }
    
    .container{
        margin-top: 30px;
        
    }
    .container h2{
      font-size: 15px;
    }
    .container img{
      width: 40%;
      padding: 40px;
    }
    .container h3{
      font-size: 70px;
    }
    .justice-hover{
      font-size: 15px;
      margin: 5px;
      width: 500px;
      height: 55px;
    }
    .history{
      width: 460px;

    }
  }
 
